* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*1rem is 10px*/
}

body {
    font-family: "Inter", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    font-size: 0;
}

:root {
    --white-color: #fff;
    --grey-color: #8a94a6;
    --blue-color: #377dff;
    --dark-grey-color: #323b4b;
    --darker-white-color: #fcfbfc;
}

/* Header*/

.logo {
    height: auto;
    width: 18.2rem;
    display: inline-block;
    vertical-align: middle;
}

.navigation {
    padding: 4rem 10rem;
    align-items: center;
}

.navigation a {
    color: var(--grey-color);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem; /* 120% */
}

.navigation_links li {
    display: inline-block;
    margin-right: 5.5rem;
}

.navigation_links {
    display: inline-block;
    vertical-align: middle;
}

.navigation_action {
    width: calc(100% - 18.2rem);
    margin-left: -0.5rem;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.navigation_action button {
    color: var(--white-color);
    width: 17.9rem;
    height: 5.7rem;
    flex-shrink: 0;
    border-radius: 1rem;
    background: var(--blue-color);
    vertical-align: middle;
    display: inline-block;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem; /* 120% */
}

/*help-section*/

.help-section {
    padding: 11rem 10rem;
}

.help-section h2 {
    color: var(--dark-grey-color);
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 7.3rem; /* 121.667% */
    text-align: center;
    margin-bottom: 3.3rem;
}

.text-top {
    color: var(--grey-color);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.5rem; /* 175% */
    align-items: center;
    margin-bottom: 5.2rem;
}

.email {
    width: calc((100% - 6.4rem) / 3);
    display: inline-block;
    margin-right: 3.2rem;
    padding: 4rem 3rem;
    border-radius: 1.5rem;
    background: var(--darker-white-color);
    vertical-align: top;
}

.email img:first-child {
    margin-bottom: 3rem;
}

.email h3 {
    color: var(--dark-grey-color);
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.4rem; /* 121.429% */
    text-align: left;
    margin-bottom: 2.1rem;
}

.email p {
    color: var(--grey-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem; /* 166.667% */
    text-align: left;
    margin-bottom: 1.5rem;
}

.email a {
    color: var(--blue-color);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem; /* 120% */
    margin-bottom: 4.1rem;
    margin-right: 1rem;
}

.arrow {
    margin-bottom: -0.5rem;
}

.direction {
    width: calc((100% - 6.4rem) / 3);
    display: inline-block;
    margin-right: 3.2rem;
    padding: 4rem 3rem;
    border-radius: 1.5rem;
    background: var(--darker-white-color);
    vertical-align: top;
}

.direction img:first-child {
    margin-bottom: 3rem;
}

.direction h3 {
    color: var(--dark-grey-color);
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.4rem; /* 121.429% */
    text-align: left;
    margin-bottom: 2.1rem;
}

.direction p {
    color: var(--grey-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    text-align: left;
    margin-bottom: 1.5rem;
}

.direction_text {
    color: var(--grey-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line_height: 3rem; /* 166.667% */
    text-align: left;
}

.direction a {
    color: var(--blue-color);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem; /* 120% */
    margin-bottom: 4.1rem;
    margin-right: 1rem;
}

.call {
    width: calc((100% - 6.4rem) / 3);
    display: inline-block;
    padding: 4rem 3rem;
    border-radius: 1.5rem;
    background: var(--darker-white-color);
    vertical-align: top;
}

.call img {
    margin-bottom: 3rem;
}

.call h3 {
    color: var(--dark-grey-color);
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.4rem; /* 121.429% */
    text-align: left;
    margin-bottom: 2.1rem;
}

.call p {
    color: var(--grey-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem; /* 166.667% */
    margin-bottom: 1.5rem;
}

.call a {
    color: var(--blue-color);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem; /* 120% */
    margin-bottom: 4.1rem;
}

/*massage-section*/

.massage-section {
    padding: 11rem 10rem;
}

.massage-section h3 {
    color: var(--dark-grey-color);
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.8rem; /* 120.833% */
    text-align: center;
    margin-bottom: 2rem;
}

.massage-section p {
    color: var(--grey-color);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.5rem; /* 175% */
    margin-bottom: 5.2rem;
    width: 55%;
    margin-left: 25%;
}

.massage-section_bottom {
    height: 62rem;
    width: 55%;

    margin-left: 25%;
}

.top-section input {
    width: calc((100% - 2rem) / 2);
    height: 6.5rem;
    border: 0.2rem solid var(--grey-color);
    flex-shrink: 0;
    border-radius: 1rem;
    background: var(--white-color);
    padding-left: 2rem;
    margin-bottom: 4.3rem;
}

.top-section input:first-child {
    margin-right: 2rem;
}

.middle-section input {
    width: calc((100% - 2rem) / 2);
    height: 6.5rem;
    border: 0.2rem solid var(--grey-color);
    flex-shrink: 0;
    border-radius: 1rem;
    padding-left: 2rem;
    margin-bottom: 4.3rem;
}

.middle-section input:first-child {
    margin-right: 2rem;
}

.bottom-section {
    margin-bottom: 4.5rem;
}

.bottom-section textarea {
    width: 100%;
    height: 29.6rem;
    flex-shrink: 0;
    border-radius: 1rem;
    border: 0.2rem solid var(--grey-color);
    background: var(--white-color);
    padding-left: 2.5rem;
    padding-top: 2.5rem;
}

.checkbox-bottom label {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin-right: 20%;
    color: var(--grey-color);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.4rem;
    cursor: pointer;
}

#submit {
    cursor: pointer;
    border: none;
    vertical-align: middle;
    border-radius: 1rem;
    background: var(--blue-color);
    width: calc((100% - 20%) / 2 * 0.75);
    height: 6.6rem;
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
}

#checkbox {
    height: 2.8rem;
    width: 2.8rem;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 1rem;
}

.bottom-section textarea::placeholder {
    margin-right: 3.3rem;
}

/*Footer*/

.footer-section {
    padding: 11rem 10rem;
}

.footer-logo {
    margin-bottom: 2.5rem;
}

.footer-left {
    display: inline-block;
}

.footer-left_text {
    color: var(--grey-color);
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.5rem; /* 175% */
    text-align: left;
    width: 28.2rem;
    margin-bottom: 3.2rem;
}

.social-media img:not(:last-child) {
    margin-right: 1rem;
}

.footer-menu {
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 36rem) * 0.065rem / 4);
}

.footer-menu h4 {
    color: var(--dark-grey-color);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.9rem; /* 120.833% */
    margin-bottom: 2.5rem;
}

.footer-left,
.footer-menu:not(:nth-child(5)) {
    margin-right: 9rem;
}

.footer-section a {
    color: var(--grey-color);
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem; /* 120% */
    display: block;
    margin-bottom: 1.5rem;
}

.template {
    color: var(--grey-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem; /* 122.222% */
    margin-top: 10rem;
}
