* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    font-size: 0;
}

/* Header*/

.logo {
    height: 54px;
}

.navigation {
    padding: 40px 100px;
    align-items: center;
    position: relative;
}

.navigation a {
    color: #8a94a6;
    color: var(--text-3, #8a94a6);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
}

.navigation_links li {
    display: inline-block;
    margin-right: 55px;
}

.navigation_links {
    display: inline-block;
    vertical-align: middle;
}

.navigation_action {
    position: absolute;
    top: 42px;
    right: 100px;
}

.navigation_action button {
    color: white;
    width: 179px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--primary-1, #377dff);
    vertical-align: middle;
    display: inline-block;
    border: none;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
}

/*help-section*/

.help-section {
    padding: 110px 100px;
}

.help-section h2 {
    color: var(--text-1, #323b4b);
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 73px; /* 121.667% */
    margin-top: 108px;
    margin-bottom: 33px;
    text-align: center;
}

.text-top {
    color: var(--text-3, #8a94a6);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px; /* 175% */
    align-items: center;
    margin-bottom: 52px;
}

.help-section_bottom {
}

.email {
    width: calc((100% - 64px) / 3);
    display: inline-block;
    margin-right: 32px;
    padding: 40px 30px;
    border-radius: 15px;
    background: #fcfbfc;
    vertical-align: top;
}

.email img:first-child {
    margin-bottom: 30px;
}

.email h3 {
    color: var(--text-1, #323b4b);
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 121.429% */
    text-align: left;

    margin-bottom: 21px;
}

.email p {
    color: var(--text-3, #8a94a6);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    text-align: left;
    margin-bottom: 15px;
}

.email a {
    color: var(--primary-1, #377dff);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    margin-bottom: 41px;
    margin-right: 10px;
}

.arrow {
    margin-bottom: -5px;
}

.direction {
    width: calc((100% - 64px) / 3);
    display: inline-block;
    margin-right: 32px;
    padding: 40px 30px;
    border-radius: 15px;
    background: #fcfbfc;
    vertical-align: top;
}

.direction img:first-child {
    margin-bottom: 30px;
}

.direction h3 {
    color: var(--text-1, #323b4b);
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 121.429% */
    text-align: left;
    margin-bottom: 21px;
}

.direction p {
    color: var(--text-3, #8a94a6);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    margin-bottom: 15px;
}

.direction_text {
    color: var(--text-3, #8a94a6);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    text-align: left;
}

.direction a {
    color: var(--primary-1, #377dff);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    margin-bottom: 41px;
    margin-right: 10px;
}

.call {
    width: calc((100% - 64px) / 3);
    display: inline-block;
    padding: 40px 30px;
    border-radius: 15px;
    background: #fcfbfc;
    vertical-align: top;
}

.call img {
    margin-bottom: 30px;
}

.call h3 {
    color: var(--text-1, #323b4b);
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 121.429% */
    text-align: left;

    margin-bottom: 21px;
}

.call p {
    color: var(--text-3, #8a94a6);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    margin-bottom: 15px;
}

.call a {
    color: var(--primary-1, #377dff);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    margin-bottom: 41px;
}

/*massage-section*/

.massage-section {
    padding: 110px 100px;
}

.massage-section h3 {
    color: var(--text-1, #323b4b);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px; /* 120.833% */
    text-align: center;
    margin-bottom: 20px;
}

.massage-section p {
    color: var(--text-3, #8a94a6);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px; /* 175% */
    text-align: center;
    margin-bottom: 52px;
}

.massage-section_bottom {
    height: 620px;
    width: 789px;
    margin-left: 213px;
}

.top-section input {
    width: 375px;
    height: 65px;
    border: 2px solid #8a94a6;
    flex-shrink: 0;
    border-radius: 10px;

    background: var(--bg-4, #fff);
    padding-left: 20px;
    margin-bottom: 43px;
}

.top-section input:first-child {
    margin-right: 33px;
}

.middle-section input {
    width: 375px;
    height: 65px;
    border: 2px solid #8a94a6;
    flex-shrink: 0;
    border-radius: 10px;

    background: var(--bg-4, #fff);
    padding-left: 20px;
    margin-bottom: 43px;
}

.middle-section input:first-child {
    margin-right: 33px;
}

.bottom-section {
    margin-bottom: 45px;
}

.bottom-section textarea {
    width: 787px;
    height: 296px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #8a94a6;
    background: var(--bg-4, #fff);
    padding-left: 25px;
    padding-top: 25px;
}

.checkbox-bottom label {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin-right: 20%;
    color: #8a94a6;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}

#submit {
    cursor: pointer;
    border: none;
    vertical-align: middle;
    border-radius: 10px;
    background: #377dff;
    width: calc((100% - 20%) / 2 * 0.75);
    height: 66px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

#checkbox {
    height: 28px;
    width: 28px;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
}

.bottom-section textarea::placeholder {
    margin-right: 33px;
}
